<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tini Store - Cart</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,
			shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
	<link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">

	<link rel="stylesheet" href="css/aos.css">

	<link rel="stylesheet" href="css/ionicons.min.css">

	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">


	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body class="goto-here">
	<div class="py-1 bg-primary">
  <div class="container">
	<div class="row no-gutters d-flex align-items-start align-items-center
	  px-md-0">
	  <div class="col-lg-12 d-block">
		<div class="row d-flex">
		  <div class="col-md pr-4 d-flex topper align-items-center">
			<div class="icon mr-2 d-flex justify-content-center align-items-center"><span
				class="icon-phone2"></span></div>
			<span class="text">0328115411</span>
		  </div>
		  <div class="col-md pr-4 d-flex topper align-items-center">
			<div class="icon mr-2 d-flex justify-content-center align-items-center"><span
				class="icon-paper-plane"></span></div>
			<span class="text">hideonbush0512@gmail.com</span>
		  </div>
		  <div class="col-md-5 pr-4 d-flex topper align-items-center
			text-lg-right">
			<span class="text">3-5 Business days delivery &amp; Free Returns</span>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark
  ftco-navbar-light" id="ftco-navbar">
  <div class="container">
	<a class="navbar-brand" href="/">Tini Store</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	  data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false"
	  aria-label="Toggle navigation">
	  <span class="oi oi-menu"></span> Menu
	</button>

	<div class="collapse navbar-collapse" id="ftco-nav">
	  <ul class="navbar-nav ml-auto">
		<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="dropdown04"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
		  <div class="dropdown-menu" aria-labelledby="dropdown04">
			<a class="dropdown-item" href="/shop/<%=0%>">Shop</a>
			
			<a class="dropdown-item" href="/wishlist">Wishlist</a>
			
			<a class="dropdown-item" href="/cart">Cart</a>
			<!-- <a class="dropdown-item" href="/checkout">Checkout</a> -->
		  </div>
		</li>
		<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
		<li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
		<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>

		<!-- <li class="nav-item dropdown">

						<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">User</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<a class="dropdown-item" href="/information_user">Edit profile</a>
							<a class="dropdown-item" href="/orders">Order management</a>
								<a class="dropdown-item" href="/show_dia_chi">Addresses</a>
		  <a class="dropdown-item" href="/logout">Log out</a>
						</div>

					</li> -->

		
		<% if(name != null){%>
		  <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span
				class="icon-shopping_cart"></span>[<%= quantity_foods[0]['count']%>]</a></li>
		<%}else {%>
		  <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span
			class="icon-shopping_cart"></span>[0]</a></li>
					<%}%>
		
		<!-- Sửa login -->

		<% if(name != null){%>
						<li class="nav-item cta cta-colored dropdown" style="margin-left: 50px;">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-account-circle" style="color: #82ae46; padding-right: 10px;"></i><%= name%></a>
								
							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<a class="dropdown-item" href="/information_user">Edit profile</a>
								<a class="dropdown-item" href="/orders">Order management</a>
								<a class="dropdown-item" href="/show_dia_chi">Addresses</a>
		  <a class="dropdown-item" href="/logout">Log out</a>
							</div>
						</li>
					<%}else {%>
						<li class="nav-item cta cta-colored" style="margin-left: 50px;">
							<div style="margin-top: 19px;">
								<span class="icon-user" style="color: rgb(59, 59, 59);">&nbsp; 
									<a href="/signup">Đăng ký</a>/<a href="/login">Đăng nhập</a>
								</span>
								
							</div>
						</li>
					<%}%>

				<!-- Sửa login -->

			  </ul>
			</div>
		  </div>
		</nav>
		<!-- END nav -->

	<div class="hero-wrap hero-bread" style="background-image:
			url('images/bg_1.jpg');">
		<div class="container-fluid">
			<div class="row no-gutters slider-text align-items-center
					justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span>
						<span>Cart</span>
					</p>
					<h1 class="mb-0 bread">My Cart</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section ftco-cart">
		<%if(cart_user.length> 0){%>
			<form action="/checkout" method="post" class="form-horizontal">

				<div class="container-fluid">

					<div class="row">
						<!-- class="row justify-content-end"  -->

						<!-- <div class="col-md-12 ftco-animate"> -->
						<div class="col-lg-9 col-md-12">
							<div class="cart-list">
								<table class="table">
									<thead class="thead-primary">
										<tr class="text-center">
											<th>&nbsp;</th>
											<th>&nbsp;</th>
											<th>Product name</th>
											<th>Price</th>
											<th>Quantity</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<input type="hidden" name="order_id" value="<%= order_id%>" />
										<%for(var i=0; i<cart_user.length; i++){%>
											<tr class="text-center">
												<td class="product-remove"><a
														href="/del_pro_cart/<%= cart_user[i]['id']%>"><span
															class="ion-ios-close"></span></a></td>
												<%var img=cart_user[i]['images']%>
													<td class="image-prod">
														<div class="img" style="background-image:url(<%=img%>);">
														</div>
													</td>
													<%var tmp_id='id_' +cart_user[i]['id']%>
														<input type="hidden" name="<%= tmp_id%>"
															value="<%= cart_user[i]['id']%>" />
														<td class="product-name">
															<h3>
																<%=cart_user[i]['name']%>
															</h3>
															<p
																style="text-overflow: ellipsis;width: 300px;overflow: hidden;white-space: nowrap;">
																<%=cart_user[i]['description']%>
															</p>
														</td>

														<td>
															<%=cart_user[i]['price']%> đ
														</td>

														<!-- <option class="price" id="price1" value="<%=cart_user[i]['price']%>"></option> -->
														<!-- Sửa nút tăng giảm sp -->
														<td class="quantity buttons_added">
															<div class="input-group d-flex mb-3">
																<%var tmp='quantity_' +cart_user[i]['id']%>

																	<a href="/minus/<%= cart_user[i]['id']%>"
																		class="minus is-form form-control" name="minus"
																		style="padding-top: 15px;"><span>-</span></a>
																	<input type="number" id="<%= tmp%>" name="<%= tmp%>"
																		class="form-control
																input-number input-qty" value="<%=cart_user[i]['quantity']%>" min="1" max="100" onclick="Tinh()" />
																	<a href="/add/<%= cart_user[i]['id']%>"
																		class="plus is-form form-control" name="add"
																		style="padding-top: 15px;">+</a>
															</div>
														</td>
														<!-- Sửa nút tăng giảm sp -->
														<td id="total">
															<%= cart_user[i]['price'] * cart_user[i]['quantity']%> đ
														</td>
											</tr><!-- END TR-->
											<%}%>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-lg-3 col-md-12 ftco-animate justify-content-ends">
							<div>
								<div class="cart-wrap ftco-animate">
									<%if(order !='' ){%>
										<div class="cart-total mb-3">
											<div class="block-header"
												style="display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; margin-bottom: 12px;">
												<h3 class="block-header__title"
													style="color: rgb(128, 128, 137);font-weight: normal;margin: 0px;">
													Ship to</h3>
												<a class="block-header__nav" href="/change_address">Change</a>

											</div>
											<div class="customer_info">
												<h5>
													<%= order[0]['name']%>
												</h5>
												<h6>
													<%= order[0]['phone']%>
												</h6>
												<p>
													<%= order[0]['street']%>, <%= order[0]['wardid']%>, <%=
																order[0]['districtid']%>, <%= order[0]['provinceid']%>
												</p>
											</div>
										</div>
										<%}else{%>
											<div class="cart-total mb-3">
												<div class="block-header"
													style="display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; margin-bottom: 12px;">
													<h3 class="block-header__title"
														style="color: rgb(128, 128, 137);font-weight: normal;margin: 0px;">
														Ship to</h3>
													<a class="block-header__nav" href="/change_address">Change</a>
												</div>
												<div class="customer_info">
													<%if(errors.length <=0){%>
														<h5></h5>
														<h6></h6>
														<p></p>
														<%}else{%>
															<h5 style="color: red;text-align: center;">
																<%= errors[0]['errors']%>
															</h5>
															<%}%>
												</div>
											</div>
											<%}%>
								</div>
								<div class="cart-wrap ftco-animate">
									<div class="cart-total mb-3">
										<!-- <h3>Cart Totals</h3> -->
										<p class="d-flex">
											<span>Subtotal</span>
											<span>
												<%= subtotal%> đ
											</span>
										</p>
										<p class="d-flex">
											<span>Delivery</span>
											<span>
												<%= fee_ship%> đ
											</span>
										</p>

										<%if(discount> 0){%>
											<%}else{%>
												<p class="d-flex">
													<span>Discount</span>
													<span>
														<%= fee_ship%> đ
													</span>
													<input name="discount" type="hidden" value="<%= fee_ship%>" />
												</p>
												<%}%>
													<hr>
													<p class="d-flex total-price">
														<span>Total</span>
														<span>
															<%= total%> đ
														</span>
														<input name="amount" type="hidden" value="<%= total%>" />
													</p>
									</div>
									<div class="py-3 px-4" style="text-align: center;">
										<button type="submit" class="btn btn-primary py-3 px-4">
											Payment
										</button>
									</div>
								</div>


							</div>

						</div>
					</div>
				</div>


			</form>
			<%}else{%>
				<div>
					<p style="text-align: center;">Nothing in your cart</p>
				</div>
				<%}%>
	</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
		<div class="container py-4">
			<div class="row d-flex justify-content-center py-5">
				<div class="col-md-6">
					<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
					<span>Get e-mail updates about our latest shops and special offers</span>
				</div>
				<div class="col-md-6 d-flex align-items-center">
					<form action="#" class="subscribe-form">
						<div class="form-group d-flex">
							<input type="text" class="form-control" placeholder="Enter email
								address">
							<input type="submit" value="Subscribe" class="submit px-3">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<footer class="ftco-footer ftco-section">
		<div class="container-fluid">
			<div class="row">
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Tini Store</h2>
						<p>Eat well - Live peacefully</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Menu</h2>
						<ul class="list-unstyled">
							<li><a href="shop" class="py-2 d-block">Shop</a></li>
							<li><a href="about" class="py-2 d-block">About</a></li>
							<li><a href="#" class="py-2 d-block">Journal</a></li>
							<li><a href="contact" class="py-2 d-block">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Help</h2>
						<div class="d-flex">
							<ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
								<li><a href="#" class="py-2 d-block">Shipping Information</a></li>
								<li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
								<li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
								<li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
							</ul>
							<ul class="list-unstyled">
								<li><a href="#" class="py-2 d-block">FAQs</a></li>
								<li><a href="contact" class="py-2 d-block">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">35 đ.
										Tôn đức Thắng, P. Bến Nghé, Quận 1, TP. Hồ Chí Minh</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span
											class="text">0328115411</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">hideonbush0512@gmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>


	<script>//<![CDATA[
		$('input.input-qty').each(function () {
			var $this = $(this),
				qty = $this.parent().find('.is-form'),
				min = Number($this.attr('min')),
				max = Number($this.attr('max'))
			if (min == 0) {
				var d = 0
			} else d = min
			$(qty).on('click', function () {
				if ($(this).hasClass('minus')) {
					if (d > min) d += -1
				} else if ($(this).hasClass('plus')) {
					var x = Number($this.val()) + 1
					if (x <= max) d += 1
				}
				$this.attr('value', d).val(d)
			})
		})
				//]]>
	</script>


	<script>
		// function Tinh(){
		// 		var sl = document.getElementById("quantity").value;
		// 		var price = document.getElementById("price1").value;
		// 		var totalx = Number(sl) * Number(price)
		// 		console.log('Helo'+totalx)
		// 		document.getElementById("total").innerHTML = totalx;
		// 	}
		// $(document).ready(function(){

		var quantitiy = 0;
		$('.quantity-right-plus').click(function (e) {
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val()) + 1;
			// If is not undefined
			$('#quantity').val(quantity);
			// var total = quantity * 
			// Increment

			// });

			$('.quantity-left-minus').click(function (e) {
				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				// Increment
				if (quantity > 0) {
					$('#quantity').val(quantity - 1);
				}
			});
		});
	</script>
	<script src="js/mycart.js">

	</script>
</body>

</html>